* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Header */
header {
  width: 100%;
}

/* Navigation */
#navigation {
  width: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navigation-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 76px;
}

.container__logo img {
  width: 80px;
}

.container_nav-list {
  display: flex;
  list-style: none;
}

.container_nav-item {
  position: relative;
  margin: 0 10px;
}

.nav-item__link {
  position: relative;
  display: block;
  text-decoration: none;
  color: #222;
  font-size: 16px;
  padding: 30px 0;
}

.nav-item__link::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #08c1b8;
  transition: all 0.3s ease-in-out;
}

.nav-item__link:hover:after {
  width: 100%;
}

.sub-nav__list {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 85px;
  left: 0;
  list-style: none;
  background-color: #1b1b1b;
}

.container_nav-item:hover .sub-nav__list {
  display: flex;
  animation: fadeIn ease-in 0.2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.sub-nav__item-link {
  position: relative;
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  text-decoration: none;
  color: #888;
}

.sub-nav__item-link::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #08c1b8;
  transition: all 0.3s ease-in-out;
}

.sub-nav__item-link:hover::after {
  width: 100%;
}

.navigation-responsive {
  font-size: 20px;
  padding: 32px 0;
  display: none !important;
}
/* End Navigation */

/* Hero content */
#hero {
  position: relative;
  margin-top: 84px;
  background: url("/LandingPage1/assets/images/hero.jpeg");
  height: calc(100vh - 83px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-caption {
  position: absolute;
  transition: all 0.4s ease-in-out;
  top: 50%;
  transform: translateY(-50%);
  left: 13%;
  margin-right: 5%;
  color: #fff;
}

.caption__title {
  font-size: 110px;
  font-weight: 700;
}

.caption__sub {
  font-size: 28px;
  font-weight: 700;
}

.caption__description {
  font-size: 20px;
  margin: 20px 0;
}

.acction__buy {
  display: inline-block;
  background-color: #08c1b8;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  margin-right: 10px;
  cursor: pointer;
}

.acction__more {
  display: inline-block;
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.acction__buy:hover,
.acction__more:hover {
  opacity: 0.6;
}
/* End Hero content */

/* End  header */

/* Main */

/* About */

.about {
  display: flex;
  width: 100%;
}

.about__img {
  width: 45%;
  background-image: url("/LandingPage1/assets/images/about.jpeg");
  background-size: cover;
  background-position: center;
}

.about__content {
  position: relative;
  background-image: url("/LandingPage1/assets/images/about_content.png");
  background-position: 50% 50%;
  background-color: rgba(138, 138, 138, 0.13) !important;
  background-size: cover;
  width: 55%;
  padding: 10% 8%;
}

.about__content-title {
  font-weight: 700px;
  font-size: 32px;
}

.about__content-title__des {
  color: #999;
  margin-top: 5px;
}

.about__content-hr {
  color: #08c1b8;
  border-style: solid;
  border-width: 6px 0px 0px;
  width: 46px;
  margin: 20px 0;
}

.about__content-action {
  display: flex;
  margin: 20px 0 0;
}

.action__more {
  text-decoration: none;
  background-color: #08c1b8;
  color: #fff;
  padding: 10px 20px;
  margin-right: 12px;
}

.action__hire {
  text-decoration: none;
  background-color: #222222;
  color: #fff;
  padding: 10px 20px;
}

/* End about */

/* latesWork */

.latesWork {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 46px 0;
}

.latesWork__title {
  font-size: 32px;
  font-weight: 700;
}

.latesWork__sub {
  color: #999;
  padding: 20px 0;
}

.latesWork__hr {
  border-color: #08c1b8;
  border-width: 6px 0 0;
  border-style: solid;
  width: 46px;
}

/* End latesWork */

/* Gallery */

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.gallery__item:nth-child(1) {
  background-image: url("/LandingPage1/assets/images/gallery-list-1.jpeg");
}

.gallery__item:nth-child(2) {
  background-image: url("/LandingPage1/assets/images/gallery-list-2.jpeg");
}

.gallery__item:nth-child(3) {
  background-image: url("/LandingPage1/assets/images/blog-2.jpeg");
}

.gallery__item:nth-child(4) {
  background-image: url("/LandingPage1/assets/images/gallery-list-4.jpeg");
}

.gallery__item:nth-child(5) {
  background-image: url("/LandingPage1/assets/images/gallery-list-5.jpeg");
}

.gallery__item:nth-child(6) {
  background-image: url("/LandingPage1/assets/images/gallery-list-6.jpeg");
}

.gallery__item:nth-child(7) {
  background-image: url("/LandingPage1/assets/images/gallery-list-7.jpeg");
}

.gallery__item:nth-child(8) {
  background-image: url("/LandingPage1/assets/images/gallery-list-8.jpeg");
}

.gallery__item {
  position: relative;
  width: 25%;
  height: 292px;
  background-size: cover;
  background-position: center;
  color: #fff;
  transition: 0.3s ease-in;
}

.gallery__item::before {
  content: "";
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #08c1b8;
  opacity: 0.85;
  transition: 0.2s ease-in-out;
}

.gallery__item:hover {
  z-index: 1;
  transform: scale(1.05);
}

.gallery__item:hover::before {
  width: 100%;
}

.gallery__item-heart {
  position: absolute;
  top: 20px;
  right: 20px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.gallery__item-content {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.gallery__item:hover .gallery__item-heart,
.gallery__item:hover .gallery__item-content {
  opacity: 1;
}

.gallery__item-title {
  font-size: 22px;
}

.gallery__item-actions {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #eee;
}

.gallery__item-actions i {
  font-size: 20px;
}

/* End galery */

/* Customer */

.customer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.customer__des {
  margin: 70px 50px;
  text-align: center;
  font-size: 20px;
}

.customer__des a {
  text-decoration: none;
  color: #999;
}

.customer-hero {
  background-color: #000;
  background-image: url("/LandingPage1/assets/images/customer.jpeg");
  background-position: 50% 50%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 6% 0 8% 0;
}

.bg-cover-tranparent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.customer-hero-content {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
  z-index: 3;
  text-align: center;
  color: white;
  position: relative;
  padding: 60px 5%;
  z-index: 9;
}

.customer-hero-content .customer-image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  background-image: url("/LandingPage1/assets/images/customer-avatar.jpeg");
  background-position: 50% 50%;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.customer-hero-content p {
  font-style: italic;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 20px;
}

/* End customer */

/* Blog */

.blog {
  width: 100%;
  overflow: hidden;
}

.blog-container {
  width: 90%;
  margin: 0 auto;
}

.blog__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.blog__item {
  display: block;
  position: relative;
  width: 32%;
  text-decoration: none;
  transition: 0.5s ease;
}

.blog__item:hover {
  transform: scale(1.1);
}

.blog__item-img {
  height: 300px;
}

.blog__item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.blog__item-info {
  margin: -7% 5% 0 5%;
  padding: 6% 5% 50px 5%;
  position: relative;
  background-color: #fff;
}

.blog__item-category {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  background-color: #08c1b8;
  padding: 2px 4px;
}

.blog__item-title {
  color: #000;
  font-size: 22px;
  font-weight: bold;
  margin: 12px 0;
}

.blog__item-meta {
  font-size: 13px;
  color: #999;
  margin: 0 0 12px;
}

.blog__item-desc {
  color: #666;
  font-size: 15px;
}

.blog__item-favorite {
  display: flex;
  position: absolute;
  top: 12px;
  right: 10px;
  color: #08c1b8;
  font-size: 12px;
}

.favorite__cmt {
  margin-right: 10px;
}

/* End blog */

/* Next */

.next {
  background-image: url("/LandingPage1/assets/images/about_content.png");
  background-size: cover;
  background-position: center;
  background-color: rgba(138, 138, 138, 0.13) !important;
  text-align: center;
  padding: 60px 0;
}

.next__title {
  font-size: 32px;
  font-weight: bold;
}

.next__title-sub {
  font-size: 14px;
  color: #999;
  margin: 20px 0;
}

.next__hr {
  border-color: #08c1b8;
  border-width: 6px 0 0;
  border-style: solid;
  width: 45px;
  margin: 0 auto;
}

.next__desc {
  font-size: 16px;
  line-height: 22px;
  max-width: 800px;
  margin: 40px auto;
  padding: 0 20px;
}

.next__actions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.next__more {
  background-color: #222;
  color: #fdfef2;
  text-decoration: none;
  padding: 10px 20px;
  margin: 2px 6px;
}

.next__together {
  background-color: #08c1b8;
  color: #fdfef2;
  text-decoration: none;
  padding: 10px 20px;
  display: block;
  margin: 2px 6px;
}

/* End next */

/* End main */

/* Footer */

.main-footer {
  background-color: #121212;
  padding: 70px;
  display: flex;
  justify-content: space-between;
}

.main-footer img {
  width: 15%;
  object-fit: contain;
}

.main-footer .content {
  flex: 1;
  padding: 30px;
  color: #ccc;
  margin: 0 200px;
}

.main-footer .content h2 {
  font-size: 18px;
  margin: 10px 0 20px 0;
}

.main-footer .contact {
  padding-top: 30px;
  width: 20%;
}

.contact .list-icon {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-bottom: 30px;
}

.list-icon a {
  font-size: 28px;
  color: #ccc;
}

.contact .send {
  position: relative;
}

.contact input {
  width: 100%;
  height: 48px;
  padding: 6px 40px 6px 12px;
  background-color: #191919;
  border: 1px solid #949494;
}

.contact .send i {
  color: #ccc;
  position: absolute;
  top: 15px;
  right: 15px;
}

.sub-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 70px;
  background-color: #0a0a0a;
}

.sub-footer .left {
  color: #999;
  font-size: 12px;
}

.sub-footer .left span {
  color: #ccc;
}

.sub-footer .right {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.sub-footer .right a {
  font-size: 12px;
  padding-right: 12px;
  text-decoration: none;
  color: #999;
}
/* End Footer */

/* Responsive */

@media screen and (max-width: 550px) {
  .main-footer,
  .sub-footer {
    padding: 20px;
  }

  .main-footer .content {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .navigation-responsive {
    display: block !important;
  }

  .navigation-container {
    padding: 0 20px;
  }

  .container_nav-list {
    display: none;
  }

  .about {
    flex-direction: column;
  }

  .about__img {
    width: 100%;
    height: 300px;
  }

  .about__content {
    width: 100%;
  }

  .gallery {
    display: block;
  }

  .gallery__item {
    width: 100%;
  }

  .blog__list {
    display: block;
  }

  .blog__item {
    width: 100%;
  }
}

@media screen and (max-width: 992px) {
  .main-footer {
    display: block;
    text-align: center;
  }

  .main-footer .contact {
    width: 80%;
    margin: 0 auto;
  }

  .main-footer .content {
    margin: 0;
  }

  .sub-footer {
    flex-direction: column-reverse;
    justify-content: center;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  .main-footer .content {
    margin: 0 50px;
  }

  .list-icon a {
    padding: 4px;
  }
}
